@import '../../../style/utils/';

.ImageWrapper {
  display: flex;
  align-items: center;
  min-height: 600px;
  background-image: url(/images/banner-photo.jpg);
  background-position: center;
  background-size: cover;
  background-color: #0e1a74;

  @media screen and (max-width: $screen-max-mobile) {
    min-height: 400px;
    padding: 5rem 0;
  }
}
